
html {
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #382bf0;
  --color-primary-200: #5e43f3;
  --color-primary-300: #7a5af5;
  --color-primary-400: #9171f8;
  --color-primary-500: #a688fa;
  --color-primary-600: #ba9ffb;
/** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
/** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #1a1625;
  --color-surface-mixed-200: #2f2b3a;
  --color-surface-mixed-300: #46424f;
  --color-surface-mixed-400: #5e5a66;
  --color-surface-mixed-500: #76737e;
  --color-surface-mixed-600: #908d96;
  --fs-sm-100: clamp(0.80rem,calc(0.31rem + 1.97vw),0.9375rem)
  /** EXAMPLES */
  color: var(--color-primary-600);
  /* background-color: var(--color-surface-300); */
  background-color: #121212;
  font-family: "Roboto","DM Sans","Segoe UI",sans-serif;
  color: #FFFFFF;
}
.location_text{
  font-family: "Roboto","DM Sans","Segoe UI",sans-serif;
  letter-spacing: -.5px;
  color: #fff !important;
}
.layout{
  background-color: #282828;
}
.store_card {
  background-color: var(--color-surface-200);
  color:#fff;
  border-radius: 18px;
  border: none;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  width: 300px;
  height: 300px;
}
.ButtonContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}
.ButtonContainer input{
  justify-self: center;
}
.subtle-text{
  margin: 0;
  margin-top: 2px;
  letter-spacing: .15px;
  font-family: "Roboto","DM Sans","Segoe UI",sans-serif;
  font-size: 14px;
  letter-spacing: -.5px;
}
.ButtonContainer p{
  margin: 0;
  margin-top: 2px;
}
hr{
  color:#c0c5c9;
  /* margin: 1rem 0; */
  border: 0;
  border-top: 1px solid;
  opacity: .25
}
.frame {
  display: flex;
  justify-content: flex-start;
  background-color: var(--color-surface-100);
  height: 70px;
  position: relative;
  width: 100%;
  color:#fff;
  align-items: first baseline;
}
.left_menu {
  
  align-self: left;
  display: flex; /* or inline-flex */
  align-items: second baseline;
  justify-content: flex-start;
  width: 25%;
  height: 100%;
  gap: 35px;
  z-index: 1;
}
.location_profile {
  align-self: left;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}
.location-pointer {
  height: 23.64px;
  width: 23px;
  filter: invert(0.30);
}
.left_menu img {
  height: 32px;
  width: 32px;
  border-radius: 8px;
  /* box-shadow: 1px 1px 1px 1px gray; */
}
.logo img{
  height: 36px !important;
  width:160px !important;
  box-shadow: none !important;
}
.logo img:hover{
  height: 36px !important;
  width: 160px !important;
  box-shadow: none !important;
}
.profile {
  margin-left: 10px;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px black;
  background-color: var(--color-surface-200);
}
.left_menu img:hover {
  box-shadow: 0 0 0px 1px black;
}
.search_field {
  align-self: center;
  justify-self: center;
  margin: auto;
}
.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 35px;
  border-radius: 15px;
  border: 2px solid gray;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  /* This will add some padding and margin to the text field */
  padding: 5px;
  background-color: #ffffff;
}
.search_icon_div {
  align-self: left;
  padding-left: 1px;
  padding-right: 2px;
  justify-self: center;
}
.clear_icon_div {
  align-self: right;
  padding-right: 1px;
  padding-left: 2px;
  justify-self: center;
}
.search_icon, .clear_icon {
  height: 23.64px;
  width: 23px;
}
.search_bar input {
  background-color: #ffffff;
  align-self: center;
  border: none;
  width: 100%;
  height: 100%;
}

tr,
td {
  border-collapse: collapse;
}

#insideBox {
}
.button_div {
  display: flex;
  justify-content: center;
}
.btn {
  position: relative;
  top: -26px;
  z-index: 1;
  background-color: var(--color-surface-300);
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Roboto","DM Sans","Segoe UI",sans-serif;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}


.btn:hover {
  background-color: darkgray;
}

#layout {
  padding: 50px;
  border-spacing: 50px;
  margin-left: auto;
  margin-right: auto;
}

.storeListBtn {
  background-image: url("transaction-list.png");
  background-size: cover;
  height: 28px;
  width: 28px;
  border-radius: 8px;
  /* box-shadow: 1px 1px 1px 1px gray; */
}

.homeBtn {
  background-image: url("home.png");
  background-size: cover;
  height: 28px;
  width: 28px;
  border-radius: 8px;
  /* box-shadow: 1px 1px 1px 1px gray; */
}
.transaction-list {
  position: relative;
  /* Other styles for transaction-list */
}

.highlight-number {
  position: absolute;
  right: 12px;
  bottom: 14px;
  color: red;
  font-weight: bold;
  /* background-color: rgba(128, 128, 128, 0.5); */
  /*box-shadow: 1px 1px 1px 1px gray;*/
  /* border: 2px solid black; Add this line */
  /* Add padding, margin, etc. as needed */
  background-color: var(--color-surface-mixed-100);
  opacity: 0.9;
}

#storeTableBody td {
  width: 300px;
  padding-bottom: 10px;
  border-spacing: 50px;
  margin-left: auto;
  margin-right: auto;
}

.compareBtn {
  padding: 25px;
}

.clearStoresBtn {
  padding: 25px;
}
.store_image{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.store_card_image_Target{
  opacity: 0.8;
  padding-top: 5px;
  height: 50%;
  width: 100%;
  padding-bottom: 30px;
  background-image: url("Target_logo_1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.store_card_image_Walmart{
  padding-top: 5px;
  height: 50%;
  width: 100%;
  padding-bottom: 30px;
  background-image: url("Walmart.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.store_card_image_Dollar_Tree{
  opacity: 0.8;
  padding-top: 5px;
  height: 50%;
  width: 100%;
  padding-bottom: 30px;
  background-image: url("Dollar_Tree.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.store_card_image_7_Eleven{
  padding-top: 5px;
  height: 50%;
  width: 100%;
  padding-bottom: 30px;
  background-image: url("7_Eleven.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.store_info_image{
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 5px;
  padding-right: 5px;
}
.store_info_image p{
  font-size: 18px;
}
.deal_info{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -55px;
  gap:0px;
}
.deal_info_price_rating{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
  gap:10px;
}
.text-lg{
  line-height: 1.4;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 30px 0 20px;
}
.text-md{
  line-height: 1.4;
  font-size: 1.2rem !important;
  font-weight: normal;
  margin: 20p 0 10px;
}
.text-sm{
  line-height: 1.4;
  font-size: 0.9rem;
  font-weight: normal;
  margin: 10px 0 5px;
}
.text-center{
  text-align: center;
}
#storeContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: space-between;
  align-items: flex-start;
  gap: 30px 60px;
}
#ItemsContent{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 30px 60px;
}
#Sort{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  min-width: 300px;
  min-height: 100vh;
  background-color: var(--color-surface-100);
  gap: -2x;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #ccc;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
#clearall {
  text-decoration: underline;
}
#buttonarray{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.sale{
  text-decoration: line-through;
  position: relative;
  top: -10px;
  margin-right:0px !important;
}
.newprice{
  color:green;
  font-size: 1.3rem !important;
}
